extends ../layout

block css
  link(rel='stylesheet', href='/styles/home/home.css')


block content
  a(href='https://github.com/JeffreyTerry')
    img.fork-me-on-github-img(src="https://camo.githubusercontent.com/121cd7cbdc3e4855075ea8b558508b91ac463ac2/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67", alt='Fork me on GitHub', data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png')
  .main-header.container
    .row
      .col-sm-4.col-sm-offset-1
        .row
          .col-xs-12
            img.img-responsive.img-circle.jeff-image(src='imgs/jeff.jpg', alt='Me at La tour Eiffel', title='Me at La tour Eiffel')
        .row
          .col-xs-12
            h1.title Jeff&nbsp;Terry
      .col-sm-6.main-description-text
        | Why, hello there! Welcome to my website! Within these starch-white pages you'll find an assortment of information about me. But before you dive in, allow me to introduce myself. My name is Jeff Terry. You can call me Jeff.
        br
        br
        | I currently study math, computer science, and a lot of other stuff at the University of Oklahoma. When I'm not busy pursuing my academic interests, I can usually be found with a book in my hand (novels mostly, but also some nonfiction), hanging out with friends, or working on projects to improve the world around me. I get a lot of my project ideas from personal experience. For example:&nbsp;&nbsp;This past year, I was in charge of selecting the movies shown in OU's student movie theater. I found the process unnecessarily cumbersome. I had to visit four different websites--Swank.com, Criterion.com, IMDb.com, and DVDReleaseDates.com--to find the different pieces of information I needed to choose the movies. To fix this problem, I created 
        a(href='https://github.com/JeffreyTerry/college-auditorium-film-finder') Dank Swank
        | , a website that aggregates information from all four sites and displays it in a sortable, color-coded table. To give another example:&nbsp;&nbsp;About a year ago, I realized that I owed almost all of my successes in college to the people who mentored me when I first arrived at OU. I realized that I came across many of my mentors through sheer chance, and I imagined what my college experience would have been like without them. Recognizing that a lot of people do in fact miss out on these mentorship experiences, I decided to create a formal upperclassmen-to-freshmen mentorship program to give incoming honors students upperclassmen mentors.
        br
        br
        | After I graduate from OU, I want to continue improving the world. The year after I graduate, I want to study abroad somewhere in South America. I want to use the experience to become more self-aware and to develop a richer understanding of humankind. After coming back to the United States, I plan to attend grad school and study computer science. I have 
        a.other-disciplines-link(data-toggle='popover', data-trigger='hover', data-placement='left', data-content='I found D. Hofstadter\'s inquiries into conciousness in "Gödel, Escher, Bach" and "I Am a Strange Loop" fascinating. I think it would be awesome (it would be a dream) to join his research group. I\'ve also found the insights my humanities courses have given me into computer science fascinating. I think it would be cool to figure out specific ways that computer scientists can learn from humanities disciplines, and use those insights (as a professor) to train the computer scientists of the future to build a better world.') a number of research ideas 
        | which (I think) would yield interesting and important knowledge, yet at the moment, I'm not sure which I want to pursue most. After grad school, I plan to continue learning and improving the world either in the "real world" or in academia.
    .row
      .col-md-10.col-md-offset-1.links-box
        .row
          .col-md-4.col-sm-4.resume-link
            a.resume-link(href='/resume')
              .i.fa.fa-file
                span &nbsp;Resume
          .col-md-4.col-sm-4.blog-link
            a.blog-link(href='http://blog.jeffterry.org/')
              .i.fa.fa-pencil
                span &nbsp;Blog
          .col-md-4.col-sm-4.linkedin-link
            a.linkedin-link(href='http://www.linkedin.com/pub/jeffrey-terry/22/31b/253/')
              .i.fa.fa-linkedin-square
                span &nbsp;LinkedIn
  .row-fluid.projects-row
    video(width='100%', poster='/videos/Austin Timelapse Placeholder 480p.jpg', autoplay, loop)
      source(src='/videos/Austin Timelapse 480p.mp4')
      | Unfortunately, your browser doesn't appear to support my fancy HTML5 video.
    .col-md-10.col-md-offset-1.projects-box
      .row
        .col-xs-12
          .projects-header Live Projects
      .row
        .col-xs-3
          a.circle(href='https://github.com/JeffreyTerry/MyMDb', data-toggle='popover', data-trigger='hover', data-placement='bottom auto', data-content='I wanted to make it easier for people to find and explore new movies. So I hit up a friend and together we made MyMDb: a more personal IMDb experience that helps people find new movies based on movies they already know they like.') MyMDb
        .col-xs-3
          a.circle(href='https://github.com/JeffreyTerry/butterfly', data-toggle='popover', data-trigger='hover', data-placement='bottom auto', data-content='I started working on Butterfly at HackTX 2015 because I thought people should have a better way of improving their presentation skills. To that end, Butterfly transcribes users\' presentations, analyzes them for weaknesses, and then displays visual, actionable feedback.') Butterfly
        .col-xs-3
          a.circle(href='https://github.com/JeffreyTerry/college-auditorium-film-finder', data-toggle='popover', data-trigger='hover', data-placement='bottom auto', data-content='I created Dank Swank after I became the Film Series Director for OU\'s student movie theater. It parses, aggregates, and intelligently color-codes movie data from Swank.com, Criterion.com, IMDb.com, and DVDReleaseDates.com in order to help me figure out which movies students will want to watch.') Dank&nbsp;Swank
        .col-xs-3
          a.circle(href='http://ccew-vault.tk', data-toggle='popover', data-trigger='hover', data-placement='bottom auto', data-content='I worked in a team of developers to create The Vault for a technology consulting company based in Chicago in Spring 2015. The company has since continued development on it and even tested it with their clients. You can click to view the prototype we handed them in April 2015.') The Vault
  .row-fluid.extras-row
    .col-md-10.col-md-offset-1.extras-box
      .extras-header
        span Past Work
        br
        a(href='https://github.com/JeffreyTerry/speedyo', data-toggle='popover', data-trigger='hover', data-placement='right auto', data-content='One of my favorite projects, SpeedYo was originally a speed-chatting app...powered by Yo. Users would simply Yo us, and we\'d send them a link to a private four-minute chatroom. Today it exists simply as an aesthetic Cleverbot interface.') SpeedYo
        br
        a.popover-link(href='https://github.com/JeffreyTerry/busme', data-toggle='popover', data-trigger='hover', data-placement='right auto', data-content='I created this Android app with a group of friends at Big Red Hacks 2014. Created to be the \'Google Maps for Ithaca Buses\', BusMe is one of the more generally useful projects I\'ve worked on.') BusMe
        br
        a(href='http://vocalorchard.jeffterry.org', data-toggle='popover', data-trigger='hover', data-placement='right auto', data-content='I made this for a friend who wanted to try out their startup idea of connecting new musicians with underbooked performance venues. After testing the service with a dozen bands, he concluded that the idea wasn\'t monetizable.') Vocal Orchard
        br
        a(href='http://nsgocg.org', data-toggle='popover', data-trigger='hover', data-placement='right auto', data-content='Upon arriving at OU, me and my friends created a satirical student organization. Naturally, we decided we needed a website. Although we\'ve since abandoned the organization for other, more well-funded organizations, our website lives on.') NSGOCG
        br
        a(href='http://jeffterry.org/godel', data-toggle='popover', data-trigger='hover', data-placement='right auto', data-content='I read about Gödel-numbering a while ago. When translating strings between the English alphabet and Gödel-numbers began to slow down my conversations, I created this tool to speed them back up.') Gödel-numberer
        //- br
        //- a(href='http://github.com/JeffreyTerry/farkle/', data-toggle='popover', data-trigger='hover', data-placement='right auto', data-content='I made this a while ago out of boredom; it\'s banal, but fun. Nobody plays it.') http://github.com/JeffreyTerry/farkle/


block js
  script(type='text/javascript', src='/js/external_libs/readmore.js')
  script(type='text/javascript', src='/js/home/home.js')
