extends ../layout

block css
  link(rel='stylesheet', href='/styles/home/home.css')



block content
  .top-wrapper
    .top(data-stellar-background-ratio='0.5')
  //- .top-text.cursor-default.unselectable.animated.fadeIn(data-stellar-ratio='0.6') Jeff Terry
  .top-text.cursor-default.unselectable.animated.fadeIn(data-stellar-ratio='0.6') To the crazy ones

  .navigation-panel.cursor-default.unselectable.animated.bounceInRight
    ul
      li(onclick='navigateTo(0)')
        span About
      li(onclick='navigateTo(2)')
        span Projects
      li(onclick='navigateTo(3)')
        span Code
      li(onclick='navigateTo(1)')
        span Studies
      li(onclick='navigateTo(4)')
        span Books
  .pa-container
    .content-wrapper
      div.middle-section(id='about')
        .title Jeff Terry&nbsp
          .i.linkedin-link.fa.fa-linkedin-square(onclick='goto("http://www.linkedin.com/pub/jeffrey-terry/22/31b/253/")')
        .subtitle Coder. Entrepreneur. Lifelong Learner.
        .text-content
          | Hi, my name's Jeff, and I just used global warming to break the ice!
          br
          br
          | Right now, my major interests include entrepreneurship,
          | full stack web development, intelligent robotics, and computer science education.
          | The big projects I'm working on in these
          | areas include a company I'm co-founding called&nbsp
          a(href='http://getparkave.com/') Park Ave
          | , an intelligent automation system for my apartment, and a computer science education program
          | in Norman Public Schools called&nbsp
          a(href='http://www.educode.org/') Educode
          | .
          br
          br
          | When I'm not busy working on projects or doing classwork, I enjoy reading, playing
          | basketball, riding my bike, listening to music, running far, and of course
          | taking long walks on the beach.
        .photo-timeline
          #photo-carousel.carousel.slide(data-ride='carousel', data-interval='false')
            //- ol.carousel-indicators
            //-   li.active(data-target='#photo-carousel', data-slide-to='0')
            //-   li(data-target='#photo-carousel', data-slide-to='1')
            //-   li(data-target='#photo-carousel', data-slide-to='2')
            //-   li(data-target='#photo-carousel', data-slide-to='3')
            //-   li(data-target='#photo-carousel', data-slide-to='4')
            .carousel-inner
              .item.active
                img.img-clickable(src='../../imgs/aboutme/1_thumbnail.jpg', data-glisse-big='../../imgs/aboutme/1.jpg', rel='photo-timeline', title='Presenting Park Ave at the CCEW Final Presentations')
                img.img-clickable(src='../../imgs/aboutme/2_thumbnail.jpg', data-glisse-big='../../imgs/aboutme/2.jpg', rel='photo-timeline')
                img.img-clickable(src='../../imgs/aboutme/3_thumbnail.jpg', data-glisse-big='../../imgs/aboutme/3.jpg', rel='photo-timeline')
                img.img-clickable(src='../../imgs/aboutme/4_thumbnail.jpg', data-glisse-big='../../imgs/aboutme/4.jpg', rel='photo-timeline')
              .item
                img.img-clickable(src='../../imgs/aboutme/5_thumbnail.jpg', data-glisse-big='../../imgs/aboutme/5.jpg', rel='photo-timeline')
                img.img-clickable(src='../../imgs/aboutme/6_thumbnail.jpg', data-glisse-big='../../imgs/aboutme/6.jpg', rel='photo-timeline')
                img.img-clickable(src='../../imgs/aboutme/7_thumbnail.jpg', data-glisse-big='../../imgs/aboutme/7.jpg', rel='photo-timeline')
                img.img-clickable(src='../../imgs/aboutme/8_thumbnail.jpg', data-glisse-big='../../imgs/aboutme/8.jpg', rel='photo-timeline')
              .item
                img.img-clickable(src='../../imgs/aboutme/9_thumbnail.jpg', data-glisse-big='../../imgs/aboutme/9.jpg', rel='photo-timeline')

            a.left.carousel-control(href='#photo-carousel', data-slide='prev')
              span.glyphicon.glyphicon-chevron-left
            a.right.carousel-control(href='#photo-carousel', data-slide='next')
              span.glyphicon.glyphicon-chevron-right


      .section-divider
      div.middle-section(id='projects')
        .title projects
        .text-content.
          I love reading books. But at a certain point, all of that knowledge is worthless until it is used for action.
          Through projects I work on, I try to apply the things I
          learn in books and in the classroom to make the world a better place and to improve the lives
          of those around me.
        .projects-wrapper
          .educode(onclick='goto("http://www.educode.org/")')
            .project-description-wrapper
              .project-title Educode
          .the-seed(onclick='alert("Website and under construction (still a seed)")')
            .project-description-wrapper
              .project-title The Seed
          .park-ave(onclick='goto("http://getparkave.com/")')
            .project-description-wrapper
              .project-title Park Ave
          .nsgocg(onclick='goto("http://nsgocg.org/")')
            .project-description-wrapper
              .project-title NSGOCG
      .section-divider
      div.middle-section(id='code')
        .title code&nbsp
          .i(title='Github', onclick='goto("http://github.com/JeffreyTerry")').github-link.fa.fa-github
        .subtitle Java - C++ - Javascript - Lisp
      .section-divider
      div.middle-section(id='studies')
        .title studies
        .text-content.
          I believe it's important for computer scientists to understand many different patterns
          of thinking, as we design products for a wide range of people. In order to better understand these
          patterns of thinking, I make a point of taking classes outside of computer science. In my academic career, I've
          studied a large variety of topics, ranging from US economic policy to industrial/organizational
          psychology and even poetry. Below is a small sample of topics I have researched and studied.
        .studies-box.computer-science
          .icon
            i.fa.fa-sitemap
          .studies-content-wrapper
            .studies-box-title Computer Science
            .studies
              .study-item
                span Java - C Plus Plus - Javascript - Lisp
              .study-item
                span Full Stack Web Development
              .study-item
                span Intelligent Robotics
              .study-item
                span Algorithm Design
        .studies-box.math
          .icon
            i.fa.fa-cubes
          .studies-content-wrapper
            .studies-box-title Mathematics
            .studies
              .study-item
                span Calculus
              .study-item
                span Ordinary Differential Equations
              .study-item
                span Linear Algebra
              .study-item
                span Discrete Mathematics
        .studies-box.physics
          .icon
            i.fa.fa-magnet.fa-rotate-90
          .studies-content-wrapper
            .studies-box-title Physics
            .studies
              .study-item
                span Classical Mechanics
              .study-item
                span Electromagnetism
        .studies-box.psychology
          .icon
            i.fa.fa-user
          .studies-content-wrapper
            .studies-box-title Psychology
            .studies
              .study-item
                span General Psychology
              .study-item
                span Industrial/Organizational
              .study-item
                span Group Psychology
      .section-divider
      div.middle-section(id='books')
        .title recommended books
        .book-box-wrapper
          img.book-box.img-clickable(src='../../imgs/books/zen.jpg', data-glisse-big='../../imgs/books/zen.jpg', rel='books')
          img.book-box.img-clickable(src='../../imgs/books/outliers.jpg', data-glisse-big='../../imgs/books/outliers.jpg', rel='books')
          img.book-box.img-clickable(src='../../imgs/books/steallikeanartist.jpg', data-glisse-big='../../imgs/books/steallikeanartist.jpg', rel='books')
          img.book-box.img-clickable(src='../../imgs/books/algorithms.jpg', data-glisse-big='../../imgs/books/algorithms.jpg', rel='books')
          img.book-box.img-clickable(src='../../imgs/books/powerofhabit.jpg', data-glisse-big='../../imgs/books/powerofhabit.jpg', rel='books')
          img.book-box.img-clickable(src='../../imgs/books/nisi.jpg', data-glisse-big='../../imgs/books/nisi.jpg', rel='books')
    .blank-content

block js
  script(type='text/javascript', src='/js/home/home.js')