extends ../layout

block css
  link(rel='stylesheet', href='/styles/home/home.css')


block content
  a(href='https://github.com/JeffreyTerry')
    img.fork-me-on-github-img(src="https://camo.githubusercontent.com/121cd7cbdc3e4855075ea8b558508b91ac463ac2/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67", alt='Fork me on GitHub', data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png')
  .main-header.container
    .row
      .col-sm-4.col-sm-offset-1
        .row
          .col-xs-12
            img.img-responsive.img-circle.jeff-image(src='imgs/jeff.jpg', alt='Me at La tour Eiffel', title='Me at La tour Eiffel')
        .row
          .col-xs-12
            h1.title Jeff&nbsp;Terry
      .col-sm-6.main-description-text
        | Hello visitor, and welcome to my website. Within these starch-white pages you will find an assortment of information about me. But before I allow you to dive in, I would like to introduce myself. My name is Jeff. I currently study Math, Computer Science, and
        | 
        a(data-toggle='popover', data-trigger='hover', data-placement='left auto', data-content='I like to take courses in all academic areas. My hope is that by doing so I can improve my communication skills, understand more fully the perspectives of others, and in general, become a better person.').other-disciplines-link a lot of other stuff
        | 
        | at the University of Oklahoma. In addition to my academic studies, I actively work on projects that I believe will better the lives of myself and my fellow students. After graduating, I plan to keep rocking the college lifestyle until I fully understand the human experience; that is to say, I plan to keep learning forever.
    .row
      .col-md-10.col-md-offset-1.bar.first
    .row
      .col-md-10.col-md-offset-1.link-box
        .row
          .col-md-4.col-sm-4.resume-link
            a.resume-link(href='/resume')
              .i.fa.fa-file
              |&nbsp;Resume
          .col-md-4.col-sm-4.blog-link
            a.blog-link(href='http://blog.jeffterry.org/')
              .i.fa.fa-pencil
              |&nbsp;Blog
          .col-md-4.col-sm-4.linkedin-link
            a.linkedin-link(href='http://www.linkedin.com/pub/jeffrey-terry/22/31b/253/')
              .i.fa.fa-linkedin-square
              |&nbsp;LinkedIn
    .row
      .col-md-10.col-md-offset-1.project-box


block js
  script(type='text/javascript', src='/js/home/home.js')
