.navbar-box
  .pa-container
    .btn-left
      a(href='/') Home
        span.filler
    .btn-right
      a(href='#')|User&nbsp
      i.fa.fa-caret-down
    .btn-right
      a(href='/Page1') Page2
        span.filler
    .btn-right
      a(href='/Page2') Page1
        span.filler

