doctype 5
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    link(rel="shortcut icon", href="/imgs/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/imgs/favicon.ico", type="image/x-icon")
    title= title
    link(rel='stylesheet', href='/styles/global.css')
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    script(type='text/javascript', src='/components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/global.js')

    script(src='http://localhost:35729/livereload.js')
    block css
    block js
  
  body
    include global/navbar
    .pa-container
      block content
